<div class="search__container">
    <input #search autofocus class="search__input" type="text" placeholder="Search" (keyup.enter)="updateSearchToken(search)">
    <i class="fas fa-times icon" (click)="search.value = ''; search.value = ''"></i>
    <i class="fas fa-search icon" (click)="updateSearchToken(search)"></i>
</div>
<p>Enter youtube <span>video / playlist link</span> or <span>search terms</span> & press <span>enter</span></p>
<app-search-result-area [searchtoken]="searchtoken"></app-search-result-area>
